<nb-layout>
  <nb-layout-header fixed><h1>JsonHelper</h1></nb-layout-header>
  
  <nb-layout-column>
    <nb-layout-header ><h3>Create your Json Interface</h3></nb-layout-header>
    <nb-card>
      <nb-card-body>
        
          <nb-card>
            <nb-card-body >
              <div>
                <h2>Job Application for Heroes</h2>
                <app-dynamic-form [questions]="questions$ | async"></app-dynamic-form>
              </div>

            </nb-card-body>
          </nb-card>
        
      </nb-card-body>
    </nb-card>
    <nb-card>
      <nb-card-body>       
        
      </nb-card-body>
    </nb-card>
  </nb-layout-column>

  <nb-layout-column>
    <nb-card>
      <nb-card-header>
        <h3>Your Interface:</h3>
      </nb-card-header>
      <nb-card-body>
      </nb-card-body>
    </nb-card>

  </nb-layout-column>

  <nb-layout-column>
    <nb-card>
      <nb-card-header><h3>Your Output JSON</h3></nb-card-header>
      <nb-card-body> </nb-card-body>

    </nb-card>
    
  </nb-layout-column>



</nb-layout>